@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}
body{
    background-color: #ECE3CE;
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 95%;
    margin: 0 auto;
}

.principal{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, -1)), url(Imagenes/Titulo.jpg);
    background-size: cover;
    background-position: cover;
    background-attachment: fixed ;
    height: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pri-titulo{
    text-align: center;
    font-size: 7rem;
    text-transform: uppercase;
    margin: 0;
    color: white;
    animation: titilar 25s 2;
}
@keyframes titilar{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        transform:rotateY(-45deg);
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-weight: bolder;
}

.tarjeta{
    border: 5px solid #3A4D39 ;
    background-color:  #739072 ;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}
.tarjeta:hover{
    transform: scale(1.1);
}
img{
   width: 100%; 
}
.boton-tarjeta{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3A4D39 ;
    color: white ;
    border-radius: 10px;
    font-weight: 400;
}
nav{
    background-color: #3A4D39;
    padding: 20px;
    color: white;
}

.contenedor-producto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 40px;
    padding-block: 20px;
}
.navegacion a{
    text-decoration: none;
    color: white;
    transition: .5s;
 }
 .navegacion a:hover{
    color: #739072;
 }
.icono{
    color: black;
    font-size: 30px;
    
 }
.footer a{
    color: black;
    text-decoration: none;
    transition: .5s;
 }
.footer p{
    text-align: center;
 }
.footer a:hover{
    color: #739072;
 }

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
.formulario{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    border: 5px solid #3A4D39 ;
    background-color:  #739072 ;
    padding: 15px;
    border-radius: 10px;
}
.contenedor-form{
    padding-top: 40px;
    padding-block: 20px;
}
#Enviar{
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: #3A4D39 ;
    color: white ;
}


